<f:link.action action="listNew">
    <span class="button">
        <th>
            <f:translate key="tx_grbfeusermanager_controller_frontenduser.menu.new" />
        </th>
    </span>
</f:link.action>
<f:link.action action="listAccepted">
    <span class="button">
        <f:translate key="tx_grbfeusermanager_controller_frontenduser.menu.accepted" />
    </span>
</f:link.action>
<f:link.action action="listActive">
    <span class="button">
        <f:translate key="tx_grbfeusermanager_controller_frontenduser.menu.active" />
    </span>
</f:link.action>
<f:link.action action="listRejected">
    <span class="button">
        <f:translate key="tx_grbfeusermanager_controller_frontenduser.menu.rejected" />
    </span>
</f:link.action>